
a{
    text-decoration: none;
}

#container{
    max-width: 800px;
    margin: auto;
}

#logo{
    font-size: large;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

#navegacao-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
